.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/api/out/
application-local.properties
node_modules/

.env.local
.env.development.local
.env.test.local
.env.stage.local
.env.production.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# env
ui/.env.local
application-local.properties
.java-version

### VSCode ###
bin/
.vscode

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.DS_Store

ui/cypress/screenshots
ui/cypress/videos
ui/reports
ui/coverage
