@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin xl-desktop {
  @media (min-width: 1700px) {
    @content;
  }
}