@fordlabs:registry=http://www.nexus.ford.com/repository/fordlabs_npm_public_repository/
# Uncomment these next two lines when on Ford VPN and downloanding from nexus
# proxy=http://internet.ford.com:83
# https-proxy=http://internet.ford.com:83
noproxy=nexus.ford.com

